body {
    background-color: lightslategray;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form {
    background-color: white;
    width: 60%;
    margin: 0 20%;
    padding: 20px 0;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
}
form div {
    margin: 10px 0;
}
form label{
    display: block;
}
form input {
    width: 30%;
    border-radius: 10px;
    padding: 5px;
}
form button {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}