:root {
    --pricipal: #0c81f5;
    --secundaria: #f5f4f4;
}

* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--pricipal); 
    color: var(--secundaria); 
    text-align: center;
    width: 100%;
}

header {
    background-color: var(--secundaria);
    color: var(--pricipal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header span {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}

header span:hover {
    transform: scale(1.1);
}

header span strong {
    font-size: 24px;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--pricipal);
    padding: 10px;
    margin: 0 5px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    width: 100%;
    padding: 90px 10% 0;
}

aside {
    width: 10%;
    position: fixed;
    right: 0;
    padding-top: 70px;
}

aside > ol {
    text-align: left;
}

aside li {
    margin: 10px 0;
}

aside a {
    text-align: left;
    text-decoration: none;
    color: var(--secundaria);
}

#titulo {
    font-style: italic;
}

img + p {
    font-weight: bold;
}

#titulo ~ h2 {
    text-decoration: underline;
}

a[href="mailto:wesleygabrieldeoliveir@gmail.com"] {
    font-weight: bold;
}

a[href="tel:1640028922"] {
    font-weight: bold;
}

nav a:hover {
    background-color: var(--pricipal);
    color: var(--secundaria);
}

h2::before{
    content: "<";
}
h2::after {
    content: ">";
}
p::first-letter {
    font-size: 32px;
}
p::first-line {
    font-weight: bold;
}
h2::selection {
    background-color: blue;
}
aside li::marker {
    font-weight: bold;
}

a, a:hover {
    color: var(--secundaria)
}

footer {
    width: 100%;
    margin-top: 100px
}

footer a {
    text-decoration: none; 
    color: var(--secundaria)
}

.copyright {
    transform: translateY(40px);
}

img, video, iframe {
    width: 80%;
    aspect-ratio: 16 / 9;
}

.dropdown, .contato-btn, .scroll-top {
    display: none;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
}

.scroll-top a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.scroll-top a i {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 1000px) {
    main {
        padding: 90px 15% 0;
    }
    aside {
        width: 15%;
    }
}

@media (max-width: 620px) {
    main {
        padding: 0 5%;
    }
    aside {
        position: relative;
        padding: 70px 5% 0;
    }
    img, video, iframe {
        width: 100%;
    }
} 

@media (max-width: 440px) {
    nav {
        display: none;
    }
    .dropdown, .contato-btn, .scroll-top {
        display: block;
    }
    audio {
        width: 100%;
    }
    .contato {
        display: none;
    }
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}